/* 14.0 About Pages stylings -------------------------------------------*/
.page-id-62 {
  .post-thumbnail {
    display: none;
  }
}
#leadershipImage{
  margin-top: 25px;
  @include breakpoint(laptopScreen){
		margin-top: 25px;
	}
  @include breakpoint(largeScreen){
		margin-top: 0;
	}
}
.leaderImageOverlay{
  position: absolute;
	top: 0;
	left: 0;
	height: calc(100% - 10px);
	width: 100%;
	content: "";
	-webkit-transition: .2s ease all;
	transition: .2s ease all;
	background-color: rgba(0,0,0,.0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.leadershipWrapper{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	a{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		text-decoration: none;
		color: $primaryGrey;
		-webkit-transition: .2s ease all;
		transition: .2s ease all;
		&:hover{
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			.leaderImageOverlay{
				background-color: rgba(0,0,0,.5);
				-webkit-transition: .2s ease all;
				transition: .2s ease all;
				opacity: 1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			}
			.centerUnderline{
				width: 10em;
				-webkit-transition: .2s ease all;
				transition: .2s ease all;
			}
		}
    @include breakpoint(smallScreen){
      width: 80%;
    }
    @include breakpoint(largeMobileScreen){
      width: 40%;
    }
    @include breakpoint(largeScreen){
      width: 20%;
    }
	}
}
.leaderWrap{
  padding: 20px;
}
.imageWrapper{
  position: relative;
}
.employeeName{
  margin-bottom: 15px;
}
.leaderImage{
  @include breakpoint(smallScreen){
    width: 80%;
  }
  @include breakpoint(largeMobileScreen){
    width: 60%;
  }
  @include breakpoint(laptopScreen){
    width: 45%;
  }
  @include breakpoint(extraLargeScreen){
    width: 35%;
  }
}
