/* 16.0 Archive/News Page stylings -------------------------------------------*/
.post{
  @include breakpoint(smallScreen){
    padding: 0 0 20px 0;
  }
  @include breakpoint(largeMobileScreen){
    padding: 20px 0;
  }
  @include breakpoint(laptopScreen){
    padding: 20px;
  }
    h2{
      margin-bottom: 15px;
    }
    p{
      margin-top: 15px;
    }
}
.singlePost{
  .entry-title{
    @include breakpoint(smallScreen){
      margin-top: 125px;
    }
    @include breakpoint(largeMobileScreen){
      margin-top: 75px;
    }
    @include breakpoint(laptopScreen){
      margin-top: 50px;
    }
  }
}
.blogTitleLink{
	text-decoration: none;
	color: $primaryGrey;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	position: relative;
    &:hover{
    color: $primaryGrey;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
  }
}
.updated{
  display: none;
}
.posted-on{
  a{
  	text-decoration: none;
  	color: $primaryYellow !important;
  	-webkit-transition: .3s ease all;
  	transition: .3s ease all;
      &:hover{
      color: $primaryGrey !important;
      -webkit-transition: .3s ease all;
      transition: .3s ease all;
      }
  }
}
.vcard{
  a{
    text-decoration: none;
  	color: $primaryYellow !important;
  	-webkit-transition: .3s ease all;
  	transition: .3s ease all;
      &:hover{
      color: $primaryGrey !important;
      -webkit-transition: .3s ease all;
      transition: .3s ease all;
      }
  }
}
.nav-links{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-thumbnail{
  text-align:center;
  .size-full{
    width: 70%;
    height: auto;
  }
}
.size-full{
  width: 100%;
  height: auto;
}
.attachment-post-thumbnail{
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
.search-form{
  .search-submit{
    background-color: $primaryGrey;
    border: 2px solid $primaryGrey;
    color: $black;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    &:hover{
      background-color: $transparent;
      border: 2px solid $primaryGrey;
      color: $primaryGrey;
      -webkit-transition: .3s ease all;
      transition: .3s ease all;
    }
  }
}
.postHeader{
  margin-bottom: 15px;
}
.blogText{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 800px;
  margin: 0 auto;
    @include breakpoint(smallScreen){
      padding: 0;
    }
    @include breakpoint(largeMobileScreen){
      padding: 0;
    }
    @include breakpoint(laptopScreen){
      padding: 25px;
    }
}
.thumbnailWrapper{
  .post-thumbnail{
    .attachment-post-thumbnail{
      width: 70%;
    }
  }
}
