/* 18.0 Careers Page stylings -------------------------------------------*/
.sidebar{
	border-right: 1px solid $primaryGrey;
	margin-top: 45px;
	@include breakpoint(smallScreen){
		padding: 0 20px;
	}
	@include breakpoint(largeMobileScreen){
		padding: 0 20px;
	}
	@include breakpoint(laptopScreen){
		display: block;
  	padding: 0;
	}
  ul{
  	list-style-type: none;
    padding-left: 0;
  	li{
  		margin-bottom: 10px;
      a {
        color: $black;
        text-decoration: none;
        -webkit-transition: .2s ease all;
        transition: .2s ease all;
        font-size: 16px;
        &:hover{
          color: $primaryYellow;
          -webkit-transition: .2s ease all;
          transition: .2s ease all;
        }
      }
  	}
  }
}
