/*9.0 Icon Styling -------------------------------------------*/
.whiteIcon{
	stroke: $white;
	fill: $white;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	width: 20px;
	height: 20px;
}
.greyIcon{
	color: $lightGrey;
}
.primaryIcon{
	color: $primaryGrey;
	font-size: 16px;
}
.iconBlock{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.footerSocialIcon{
	stroke: $primaryYellow;
  fill: $primaryYellow;
	margin: -5px;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	height: 30px;
	width: 30px;
		&:hover{
			stroke: $white;
		  fill: $white;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}
}
.arrowIcon{
	margin-left: 20px;
	stroke: $primaryGrey;
	fill: $primaryGrey;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	width: 40px;
	height: 40px;
}
.icon-angle-double-right {
  position: relative;
	top: -5px;
}
.smallIcon{
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
.icon{
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: $white;
  fill: $white;
}
.blackIcon{
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: $black;
  fill: $black;
}
.blueIcon{
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: $primaryGrey;
  fill: $primaryGrey;
}
.mediumIcon{
	display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: $white;
  fill: $white;
}
