/* 12.0 Service Page stylings -------------------------------------------*/
.servicesSidebar{
	border-right: 1px solid $primaryGrey;
	margin-top: 45px;
	@include breakpoint(smallScreen){
		display: none;
	}
	@include breakpoint(largeMobileScreen){
		display: none;
	}
	@include breakpoint(laptopScreen){
		display: block;
	}
}
.servicesList{
	list-style-type: none;
  padding-left: 0;
}
