/* 15.0 Sitemap stylings -------------------------------------------*/
#sitemapEntry{
  @include breakpoint(smallScreen){
    margin-top: 75px;
  }
  @include breakpoint(largeMobileScreen){
    margin-top: 75px;
  }
  @include breakpoint(laptopScreen){
    margin-top: 150px;
  }
}
#text{
  display: none;
}
.page_item{
  a{
    text-decoration: none;
  	transition: .3s ease all;
  	position: relative;
  			&:before{
          position: absolute;
    			content: "";
    			background: $primaryYellow;
    			top: 0;
    			left: 0;
    			width: 100%;
      		transform: scaleX(1);
    			height: 2px;
  			}
  		&:after{
        position: absolute;
  			content: "";
  			background: $primaryYellow;
  			bottom: 0;
  			right: 0;
  			width: 100%;
    		transform: scaleX(1);
  			height: 2px;
  		}
  }
}
