#sitemapEntry{
  @include breakpoint(smallScreen){
    margin-top: 75px;
  }
  @include breakpoint(largeMobileScreen){
    margin-top: 75px;
  }
  @include breakpoint(laptopScreen){
    margin-top: 150px;
  }
}
#text{
  display: none;
}
.page_item{
  a{
    text-decoration: none;
  	color: $primaryGrey !important;
  	transition: .3s ease all;
  	position: relative;
      &:hover{
      color: $primaryGrey;
      transition: .3s ease all;
  			&:after{
  				position: absolute;
  				height: 2px;
  				width: 100%;
  				background: $primaryGrey;
  				content: "";
  				bottom: 0;
  				left: 0;
  				opacity: 1;
  				transition: .3s ease all;
  			}
      }
  		&:after{
  			position: absolute;
  			height: 2px;
  			width: 100%;
  			background: $primaryGrey;
  			content: "";
  			bottom: 25%;
  			left: 0;
  			opacity: 0;
  			transition: .3s ease all;
  		}
  }
}
